* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body {
  padding: 0;
  margin: 0;
  background-color: rgb(27, 27, 31);
}
.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  box-shadow: 0 4px 8px 0 rgb(26, 70, 214);
  padding: 5%;
  width: 100%;
  text-align: center;
  background-color: rgb(21, 21, 24);
  border-radius: 5px 5px;
  color: white;
}
.cardContainer {
  justify-content: center;
  padding: 2% 33%;
}
nav {
  align-items: center;
  background-color: rgb(21, 21, 24);
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 2% 3%;
  overflow: hidden;
}
.navText {
  text-align: center;
  font-size: 150%;
  color: white;
}
.headNavButton {
  margin-right: 3%;
  box-shadow: 0 4px 8px 0 rgb(26, 70, 214);
  border-radius: 5px 5px;
  width: 10%;
  border: rgb(21, 21, 24);
  text-align: center;
}
.navButton {
  background-color: rgb(27, 27, 31);
}
.navButton {
  transition-duration: 0.4s;
}
.navButton:hover {
  /* background-color: rgb(144, 144, 148); */
  background-color: rgb(26, 70, 214);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.gridContainer {
  /* justify-content: start; */
  padding-top: 2%;
  padding-right: 5%;
  padding-bottom: 2%;
  padding-left: 5%;
  column-gap: 40px;
}
.caseName {
  font-size: 100%;
}
.caseCompany {
  font-size: 100%;
}
.caseEmail {
  font-size: 100%;
}
.caseCard {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  box-shadow: 0 4px 8px 0 rgb(26, 70, 214);
  padding: 5%;
  width: 100%;
  text-align: center;
  background-color: rgb(21, 21, 24);
  border-radius: 5px 5px;
  color: white;
}
.miniCard {
  border-radius: 5px 5px;
  padding: 2%;
  background-color: rgb(27, 27, 31);
  color: white;
  margin-right: 3%;
}
.submitButton {
  margin-left: 3%;
  background-color: rgb(5, 180, 63);
  border-color: rgb(5, 180, 63);
  border-radius: 28px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  padding: 2%;
  width: 150px;
  text-decoration: none;
  outline: none;
  transition-duration: 0.4s;
}
.submitButton:hover {
  background-color: rgb(42, 192, 92);
  border-color: rgb(42, 192, 92);
  outline: none;
}
.emailField {
  width: 40%;
  border-radius: 4px;
  padding: 2%;
}
.viewCase {
  margin-left: 2%;
  background-color: rgb(43, 46, 223);
  border-color: rgb(43, 46, 223);
  border-radius: 28px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  padding: 2%;
  width: 150px;
  transition-duration: 0.4s;
  outline: none;
  text-decoration: none;
}
.viewCase:hover {
  background-color: rgb(57, 60, 209);
  border-color: rgb(57, 60, 209);
  outline: none;
  text-decoration: none;
}
.viewButtonText {
  text-align: center;
  color: white;
}
.deleteCase {
  margin-left: 2%;
  background-color: rgb(202, 22, 22);
  border-color: rgb(202, 22, 22);
  border-radius: 28px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  padding: 2%;
  width: 150px;
  outline: none;
  transition-duration: 0.4s;
  text-decoration: none;
}
.deleteCase:hover {
  background-color: rgb(231, 23, 23);
  border-color: rgb(231, 23, 23);
  outline: none;
  text-decoration: none;
}
.deleteButtonText {
  text-align: center;
  color: white;
}
